html {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit; 
    border-radius: 15px;
    font-family: monospace;
    text-align: center;
    font-family: "Outfit",serif;
    margin: 0 0;
}
:root{
    --color-fondo-elemento-flotante: #d9d9d9;
    --color-boton-base: linear-gradient(145deg, #4d6e96, #2e435e, #15202b);
    --color-boton-hover: linear-gradient(145deg, #5376a1, #324966, #121c25);
    --color-boton-click: linear-gradient(145deg, #2b3d4e, #43638a, #6996cc);
    --sombra-base: 1vw 1vw 2vw rgba(0, 0, 0, 0.7);
    --sombra-hover: 1.2vw 1.2vw 2.5vw rgba(0, 0, 0, 1);
    --sombra-click: 1.5vw 1.5vw 3vw rgba(34, 34, 34, 0.877);;
    --animate-duration: 3s;
    --animate-delay: 1s;
}

body{
    background-color: #0e141b;    
}

                                                    /*NAV*/
nav{
    color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    background-color: var(--color-fondo-elemento-flotante);
    width: 95vw;
    height: 20vh;
    border-radius: 3vh;
    border: solid 2px black;
    margin: 3vh;
    animation: fadeInDown;
    animation-duration: 1s;
    font-size: 2vw;
        .botonesNav{
            width: 15vw;
            height: 13vh;
            background: var(--color-boton-base);
            justify-self: center;
            align-content: center;
            border-radius: 2vw;
            box-shadow: var(--sombra-base);
            transition: all 1s ease;
        }
        .botonesNav:hover{
            background: var(--color-boton-hover);
            box-shadow: var(--sombra-hover);  
            border-radius: 2.5vw;
        }
        .botonesNav:active{
            background: var(--color-boton-click);
            box-shadow: var(--sombra-click);
        }
        #enlaceNav{
            text-decoration: none;
            color: #f5efd7;
            font-family: "Outfit", sans-serif;
        }
        
        img{
            inline-size:17vh;
            aspect-ratio: 1;
            object-fit:cover;
            border-radius:100%;
            box-shadow: 1.2vw 1.2vw 3vw #0e141b;
            transition: inline-size 0.5s;
        }
        img:hover{
            inline-size:22vh;
        }
        a{
            transition: all 1s ease;
        }
}


    /*MAIN*/
main{
    height: 230vh;
    width: 90vw;
    background-color: var(--color-fondo-elemento-flotante);
    align-self: center;
    justify-self: center;
    margin-top: 3vh;
    border: 10px solid transparent;
    animation: fadeInLeftBig;
    animation-duration: 1s;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(4,auto);
    font-size: 1.5vw;
    section{
        background-color: #ffffff;
        box-shadow: 1.2vw 1.2vw 3vw #000000;
        margin:2vw;
        align-items: center;
        color: black;
    }
    #sobre-mi{
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        align-content: center;
        justify-content: center;
    }
    #foto{
        grid-column-start: 6;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 2;
        border-radius: 25%;
        background-image: url(imagenes/foto\ prueba.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #botones-estudios{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        button{
            background: var(--color-boton-base);
            color:white;
            box-shadow: var(--sombra-base);
            width: 80%;
            height: 100%;
            margin: 1vw;
            font-size: 1.5vw;
        }
        button:hover{
            background: var(--color-boton-hover);
            box-shadow: var(--sombra-hover);
        }
        button:active{
            background: var(--color-boton-click);
            box-shadow: var(--sombra-click);
        }
    }
    #estudios{
        grid-column-start: 3;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
        align-content: center;
        justify-content: center;
    }
    #enlaces{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 3;
        grid-row-end: 4;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        p{

        }
    }
    #proyectos{
        grid-column-start: 1;
        grid-column-end: 9;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

    /*FOOTER*/
footer{
    justify-self: center;
    height: 25vh;
    width: 90%;
    margin: 2vw;
    background-color: var(--color-fondo-elemento-flotante);

}